PORT=3001
NODE_ENV=development

# Supabase - Récupérer dans: Project Settings > Database > Connection string (URI)
# Format: postgresql://postgres.[PROJECT-REF]:[MOT-DE-PASSE]@aws-0-XX.pooler.supabase.com:6543/postgres
DATABASE_URL=postgresql://postgres:Ez08092676!!@db.wxrdwknhwcmnzzkjgjfd.supabase.co:5432/postgress
